/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Big Business
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120210
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: #0F8C8C;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 11.5pt;
	color: #5C5B5B;
	line-height: 1.75em;
	/* background: #E0DCDC url(images/img01.gif) repeat-x top left; */


	
}

body,input {
	font-family: Arial, Helvetica, sans-serif;
}

strong {
	color: #2C2B2B;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #2C2B2B;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

img.pic {
	padding: 5px;
	border: solid 1px #D4D4D4;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

.box {
	overflow: hidden;
	margin-bottom: 1em;
}

.date {
	background: #6E6E6E;
	padding: 5px 6px 5px 6px;
	margin: 0 6px 0 0;
	color: #FFFFFF;
	font-size: 0.8em;
	border-radius: 2px;
}

#content {
	width: 665px;
	float: left;
	padding: 0;
}

#content-box1 {
	width: 320px;
	float: left;
}

#content-box2 {
	margin: 0 0 0 345px;
	width: 320px;
}

#header {
	height: 95px;
	position: relative;
	background: rgb(70, 68, 68);
	padding: 35px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}
#header h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color:#fcfcfc;
	font-size: 36px;
	text-align: center;
	letter-spacing: 0.1cm;
}

/* #logo {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	top: 0;
	left: 45px;
} */

#logo a {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 1px 1px #3E3E3E;
}

#logo h1 {
	font-size: 2.25em;
}

#slogan {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	right: 45px;
	top: 0;
}

#slogan h2 {
	color: #BEBEBE;
	font-size: 1.25em;
	text-shadow: 0 1px 1px #3E3E3E;
}

#menu {
	padding: 0 0 0 0px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	/* background: url(images/img01.gif) repeat-x top left; */
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background: rgb(97, 100, 7);

	text-shadow: 0 1px 1px #007D7D;
}


#menu a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.25em;
	letter-spacing: -1px;
}

#menu ul {
	list-style: none;
}


#menu ul li {
	padding: 20px 20px 20px 20px;
	display: inline;
}

#menu ul li:hover{
	background:rgb(219, 110, 27);

}
#menu ul li.first {
	padding-left: 0;
}


#page {
	padding: 45px 45px 15px 45px;
	position: relative;
	width: 890px;
	margin: 0;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 30px 0 30px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: solid 1px #D4D4D4;
	padding: 15px 0 15px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	position: relative;
	margin: 0;
	/* background: #6E6E6E url(images/img03.jpg) top left no-repeat; */
	border: solid 1px #7E7E7E;
	width: 888px;
	padding: 45px 45px 0 45px;
	color: #DCDCDC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#page-bottom a {
	color: #F5F5F5;
}

#page-bottom h2, #page-bottom h3, #page-bottom h4 {
	color: #FFFFFF;
}

#page-bottom ul {
	list-style: none;
}

#page-bottom ul li {
	border-top: solid 1px #8F8F8F;
	padding: 15px 0 15px 0;
}

#page-bottom ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom-content {
	width: 665px;
	float: left;
}

#page-bottom-sidebar {
	width: 200px;
	margin: 0 0 0 690px;
}

#search input.form-submit {
	margin-left: 1em;
	color: #FFFFFF;
	padding: 10px;
	background: #2FACAC;
	border: 0;
}

#search input.form-text {
	border: solid 1px #8F8F8F;
	padding: 10px;
}

#sidebar {
	width: 200px;
	padding: 0;
	margin: 0 0 0 690px;
}

#splash {
	margin: 0 0 0 0;
	position: relative;
	padding: 45px 45px 10px 45px;
	width: 100%;
	height: 500px;
	background:rgb(234, 229, 229);
	text-align: center;
	font-size: 50px;
	font-weight:900;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	background: #6E6E6E url(images/pic.jpg);

}
#splash h1{
	color:white;
}

#splash .pic {
	padding: 9px;
}

#wrapper {
	position: relative;
	width: 100%;
	height:auto;
}
#footer{
	margin: 0;
	position: fixed;
	text-align: center;
	bottom:0px;
	width:100%;
	height:70px;
	background:rgb(16, 160, 227);
}
#footer p{
	font-size: 24px;
	color:white;
	font-weight: bolder;
	padding:20px 0px 0px 0px
}

table {
    width: 100%; /* Full width inside the container */
    border-collapse: collapse; /* Removes gaps between cells */
	box-sizing: border-box;
}
td {
    padding: 10px 0; /* Adds vertical spacing */
}

/* Label Styling */
label {
    font-size: 16px;
    color: #333;
}

/* Input Fields */
.input-field {
    width: 100%; /* Full width input fields */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s; /* Smooth transition for focus state */
}

/* Input Fields Focus State */
.input-field:focus {
    border-color: #007bff; /* Blue border on focus */
    outline: none; /* Removes default outline */
}

/* Submit Button */
.submit-button {
    width: 100%; /* Full width button */
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover state */
}

/* Submit Button Hover State */
.submit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

 /* Responsive Design */
@media (max-width: 400px) {
    .form-container {
        width: 100%; /* Responsive width on smaller screens */
        padding: 15px;
    }
} 

#form-container-login {
    background-color: rgb(255, 255, 255);
    padding: 10px 35px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
	max-width: 450px;
	position: absolute;
	left:50%;
	top:60%;
	transform: translate(-50%,-50%);

	/* margin:20px 0px; */
}
#form-container-register {
    background-color: rgb(255, 255, 255);
    padding: 15px 35px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
	max-width: 450px;
	position: absolute;
	left:50%;
	top:75%;
	transform: translate(-50%,-50%);

	/* margin:20px 0px; */
}
#img{
	height:550px;
	background-image: url(images/pic.jpg);
}
#profile{
	background: white;
}
.table-container {
	height: 300px;
    margin: 0 auto; /* Centers the container */
    padding: 10px; /* Adds some padding around the table */
    width: 60%; /* Adjust the width of the table container */
}
table {
    width: 100%; /* Table will take the full width of the container */
    border-collapse: collapse; /* Merges table borders */
    margin: 0 auto; /* Centers the table within the container */
}

th, td {
    padding: 8px; /* Adds padding to table cells */
    text-align: left; /* Aligns text to the left in table cells */
	background: rgb(241, 230, 230);
}

th {
    background-color: #f4f4f4; /* Background color for table headers */
}
.error-message{
	color:red;
}
#box1{
	width:200px;
	height:200px;
	border:5px solid green;
	border-radius: 10px;
	opacity: 0.8;
}

#box2{
	width:200px;
	height:200px;
	border:5px solid green;
	opacity:0.8;
	border-radius: 10px;
}
#box{
	width:auto;
	height: auto;
	display: flex;
	justify-content: space-evenly;
}

#login-form table{
	width:100%;
	
}
#login-form table tr{
	width:100%;
	
}
#logo{
	border-radius: 100px;
	background:rgb(108, 166, 227);
	pointer-events: none;
}
#logo p{
	margin:0;
}