{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Facial Authentication</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<script type="text/javascript">
	function validate() {
		var username = document.getElementById("username").value;
		var password = document.forms["f1"]["password"].value;
		var contact = document.forms["f1"]["contact"].value;
		var email = document.forms["f1"]["email"].value;
		var address = document.forms["f1"]["address"].value;
		var file = document.forms["f1"]["file_upload"].files[0]; // Use files[0] to get the selected file
	
		// Validate form fields
		if (username.trim() === "") {
			alert("Username must be entered");
			document.getElementById('username').focus();
			return false;
		}
		if (password === "") {
			alert("Password must be entered");
			document.forms["f1"]['password'].focus();
			return false;
		}
		if (contact.trim() === "") {
			alert("Contact No must be entered");
			document.getElementById('contact').focus();
			return false;
		}
		// Check if contact number is exactly 10 digits
		if (!/^\d{10}$/.test(contact)) {
			alert("Please enter a valid 10-digit contact number");
			document.getElementById('contact').focus();
			return false;
		}
		if (email.trim() === "") {
			alert("Email ID must be entered");
			document.getElementById('email').focus();
			return false;
		}
		var emailFilter = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
		if (!emailFilter.test(email)) {
			alert('Enter a valid email address');
			document.getElementById('email').focus();
			return false;
		}
		if (address.trim() === "") {
			alert("Address must be entered");
			document.getElementById('address').focus();
			return false;
		}
		
		// Validate file format
		if (file) {
			var allowedFormats = ['image/png', 'image/jpeg', 'image/jpg'];
			if (!allowedFormats.includes(file.type)) {
				alert('Invalid file format. Only PNG, JPEG, and JPG are allowed.');
				document.getElementById('file_upload').focus();
				return false;
			}
		} else {
			alert('Please upload a file.');
			document.getElementById('file_upload').focus();
			return false;
		}
		
		return true;
	}
	
	window.onload = function() {
		var errorMessage = "{{ error_message|escapejs }}";
		if (errorMessage) {
			alert(errorMessage);
		}
	};
	</script>
	
	
</head>
<body>
<div id="wrapper">
		<div id="header">
			<h1> Facial Authentication </h1>
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'index' %}">Home</a></li>
	  <li><a href="{% url 'Admin' %}">Admin Login</a></li>
      <li><a href="{% url 'LoginDecision' %}">User Login</a></li>
      <li><a href="{% url 'RegisterDecision' %}">Register Here</a></li>
			
	</center></ul>
<br class="clearfix" />
				</div>
			<center id='img'>
			<div id="form-container-register">
			<form name="f1" method="post" enctype="multipart/form-data" onsubmit="return validate()" action="{% url 'register_finger' %}">
				{% csrf_token %}
				<h3 class="form-title">New User Signup(fingerprint)</h3>
				<center><span class="error-message">{{ data }}</span></center>
				<table align="center" width="80%">
					<tr>
						<td><label for="username" class="form-label" >Username</label></td>
						<td><input type="text" name="username" id="username" class="input-field" /></td>
					</tr>
					<tr>
						<td><label for="password" class="form-label">Password</label></td>
						<td><input type="password" name="password" id="password" class="input-field" /></td>
					</tr>
					<tr>
						<td><label for="contact" class="form-label">Contact No</label></td>
						<td><input type="number" name="contact" id="contact" class="input-field" /></td>
					</tr>
					<tr>
						<td><label for="email" class="form-label">Email ID</label></td>
						<td><input type="email" name="email" id="email" class="input-field"  /></td>
					</tr>
					<tr>
						<td><label for="address" class="form-label">Address</label></td>
						<td><input type="text" name="address" id="address" class="input-field"  /></td>
					</tr>
                    <tr>
                        <td><label for="file_upload" class="file_upload">Fingerprint Upload</label></td>
                        <td><input type="file" name="file_upload" id="file_upload" accept=".jpeg, .png, .jpg" class="file_upload">
                    </tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Register" class="submit-button"></td>
					</tr>
				</table>
			</form>
		</div>
	</center>
	</div>
	<div id="footer">
		<p>&copy; 2024 Your Company. All Rights Reserved.</p>
	</div>
	</body>
</html>