{% load static %}
<html>
<head>
<title>Facial Authentication</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<!-- 
<div id="wrapper">
	<div id="header">
		<div id="logo">
			{% comment %} <center><font size="4" color="yellow">Blockchain E-Voting Done Right: Privacy and Transparency with Public Blockchain</font></center> {% endcomment %}
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'index' %}">Home</a></li>
	  <li><a href="{% url 'Admin' %}">Admin Login</a></li>
      <li><a href="{% url 'Login' %}">User Login</a></li>
      <li><a href="{% url 'Register' %}">Register Here</a></li>
			
		</center></ul>
		<br class="clearfix" />
	</div>
    <div id = 'splash'>
        <h1> Welcome to the Page </h1>
    </div>
	{% comment %} <div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div> {% endcomment %}
	<br/>
	<p align="justify"><font size="3" style="font-family: Comic Sans MS">
		{% comment %} Blockchain E-Voting Done Right: Privacy and Transparency with Public Blockchain {% endcomment %}

</p> -->
<div id = "wrapper">
    <div id="header">
		<h1> Facial Authentication </h1>
    </div>
	<div id="menu">
		<ul><center>
			<li><a href="{% url 'welcome' username=username %}">Home</a></li>
			<li><a href="{% url 'upload' %}?username={{ username }}">Upload</a></li>
			<li><a href="{% url 'view_doc_user' username=username %}"> View Document </a> </li>
			<li><a href="{% url 'Login' %}">Logout</a></li>
			<li><a href="#">{{ username }}</a></li>
				  
			</center>
        </ul>
			{% comment %} <br class="clearfix" /> {% endcomment %}

	</div>
    <div id='splash'>
    <div class='table-container'>
        <table border=1 id='pro'>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone no</th>
                <th>Address </th>
            </tr>
            <tr>
                <td>{{ user_data.username }}</td>
                <td>{{ user_data.email }}</td>
                <td>{{ user_data.contact }}</td>
                <td>{{ user_data.address }}</td>

            </tr>
        </table>
</div>
</div>
<div id="footer">
    <p>&copy; 2024 Your Company. All Rights Reserved.</p>
</div>
</body>
</html>
